
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <div class="w3-display-middle w3-margin-top w3-center">
    <!-- <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>BR</b></span> <span class="w3-hide-small w3-text-light-grey">Architects</span></h1> -->
  </div>
  <style>
  h1{text-align: center;}
  </style>
</header>
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card w3-hide-small">
    <h1>VRide Carpool</h1>
    <div class="w3-right">
      <a  routerLink="/register" onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button">Register</a>
      <a  routerLink="/login" onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button">User Login</a>
      <a  routerLink="/adminlogin" onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button">Company Login</a>
    </div>
  </div>
</div>

<div class="w3-content w3-padding" style="max-width:1564px">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card w3-hide-large w3-hide-medium">
  <a routerLink="/home" class="w3-bar-item w3-button">Car Pool</a>
    <div style="display: inline-flex;" class="">
      <a  routerLink="/register" onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button">Register</a>
      <a  routerLink="/login" onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button">User Login</a>
      <a  routerLink="/adminlogin" onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button">Company Login</a>
    </div>
  </div>


  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About Car Pooling</h3>
    <p>Carpooling (also car-sharing, ride-sharing and lift-sharing) is the sharing of car journeys so that more than one person travels in a car, and prevents the need for others to have to drive to a location themselves.

By having more people using one vehicle, carpooling reduces each person's travel costs such as: fuel costs, tolls, and the stress of driving. Carpooling is also a more environmentally friendly and sustainable way to travel as sharing journeys reduces air pollution, carbon emissions, traffic congestion on the roads, and the need for parking spaces. Authorities often encourage carpooling, especially during periods of high pollution or high fuel prices. Car sharing is a good way to use up the full seating capacity of a car, which would otherwise remain unused if it were just the driver using the car.
    </p>
  </div>

  <div class="w3-row-padding w3-grayscale">
	<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Why Car Pooling?</h3>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <h3>Save money</h3>
      <p>Share the costs of driving with other riders.</p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <h3>Save Environment</h3>
      <p>Carpooling creates cleaner air and safer communities.</p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <h3>Reduce Stress</h3>
      <p>Read, listen to music, or relax when you're not driving.</p>
    </div>
  </div>
  
</div>
<!-- </body>
</html>
 -->